.inputBox{
    margin-top: 2px;
    display: flex;
    align-items: center;
    gap: 6px;


}
.input{
    height: 33px;
    border-radius: 7px;
    background-color: #e3daf8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    box-shadow: 3px 3px black;
    margin-top: 3px;
    padding-left:3px;
    margin-left: 5px;
    
   
}
.addButton{
    height: 33px;
    width: 60px;
    border-radius: 7px ;
    cursor: pointer;
    margin-left: 2px;
    font-weight: 700;
    box-shadow: 3px 3px black;
    margin-left: 5px;

}

 .scanButton {
    height: 42px;
    white-space: nowrap;
    padding: 0 10px;
    font-weight: 700;
    box-shadow: 3px 3px black;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#priceInput{
    width: 80px;
    
}
#priceInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#quantityInput{
    width: 80px;
}
#quantityInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
}